.orange {
  color: #ff8917 !important;
}
.heading-text{
  font-size: 15px;
  font-weight: bold;
}
.tong-tien{
  font-size: 22px;
 
}
.green{
   color: #91bb15 !important;
}
.tong-cong-footer{
  background-color: #fff;
}